<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cinema_website.backend.mapper.CinemaMapper">

    <resultMap id="CinemaResultMap" type="com.cinema_website.backend.model.Cinema">
        <id property="cinemaId" column="cinema_id" />
        <result property="name" column="name" />
        <result property="address" column="address" />
        <result property="locationLink" column="location_link" />
        <result property="city" column="city" />
        <result property="cinemaImage" column="cinema_image" />
        <result property="contactNo" column="contact_no" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
    </resultMap>

    <select id="getCinemaById" resultMap="CinemaResultMap">
        SELECT * FROM cinemas WHERE cinema_id = #{cinemaId}
    </select>

    <select id="getAllCinemas" resultMap="CinemaResultMap">
        SELECT * FROM cinemas
    </select>

    <insert id="addCinema" parameterType="com.cinema_website.backend.model.Cinema">
        INSERT INTO cinemas (name, address, locationLink, city, cinema_image, contact_no, created_at, updated_at)
        VALUES (#{name}, #{address}, #{locationLink}, #{city}, #{cinemaImage}, #{contactNo}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
    </insert>

    <update id="updateCinemaById" parameterType="map">
        UPDATE cinemas
        SET
            name = #{cinema.name},
            address = #{cinema.address},
            locationLink = #{cinema.locationLink},
            city = #{cinema.city},
            cinema_image = #{cinema.cinemaImage},
            contact_no = #{cinema.contactNo},
            updated_at = CURRENT_TIMESTAMP
        WHERE
            cinema_id = #{cinemaId}
    </update>

    <delete id="deleteCinemaById">
        DELETE FROM cinemas WHERE cinema_id = #{cinemaId}
    </delete>

</mapper>
